
<template id="blogEntry">
  <div class="blog-entry">
    <h2 class="blog-title"></h2>
    <p class="blog-body"></p>
  </div>
</template>

<script type="text/javascript" src="Entry.js"></script>
<script type="text/javascript">
  if ('content' in document.createElement('template')) {
    var xhr = new XMLHttpRequest;
    var entries;
    xhr.onreadystatechange = populateEntries();

    xhr.open("GET", "/api/entries/");
    xhr.send();

    var populateEntries = function () {
      entries = JSON.parse(xhr.responseText);
      var entryTemplate = document.querySelector("#blogEntry");
      for (entry in entries) {

      }
      entryTitle = entryTemplate.content.querySelector('.blog-title');

    }
  }
</script>
